.header-logo {
    width: 40px;
    height: 40px;
}



/*media query*/
@media screen and (min-width: 0px) {

    .table-1 th:nth-child(2),
    .table-1 td:nth-child(2) {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    .table-1 th:nth-child(2),
    .table-1 td:nth-child(2) {
        display: table-cell;
    }
}